@{ ViewData["Title"] = "Order is processed"; }

<p>
    Order is processed. We collect it for delivery to the delivery service.
    Wait for SMS.
</p>
<p>
    <a href="@Url.Action("Index", "Home")">Back to store</a>.
</p>